
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

</head>
<body>
    @Scripts.Render("~/bundles/jquery")

    <script src="~/ckeditor/ckeditor.js"></script>
    <script src="~/ckeditor/adapters/jquery.js"></script>
    <script src="~/Scripts/Index.js"></script>
    <div class="container body-content">
        @RenderBody()
    </div>



    @RenderSection("scripts", required: false)
</body>
</html>
